.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
}
.navigation__list-item:not(:last-child) {
  margin-right: 40px;
}

.navigation__list-link,
.header__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: #ffffff;

  transition: color 250ms linear;
}

.navigation__list-link:hover,
.navigation__list-link:focus,
.header__tel:hover,
.header__tel:focus {
  color: var(--accent-color);
}
